<% provide(:title, "Log in") %>
<h3>Log In</h3>
<div class="container">
  <div class="col-md-8 col-md-offset-2 text-center">

    <!-- /.subscribe form -->
    <div class="subscribe-form wow fadeInUp">
      <% form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Digite seu email...' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', name: 'MERGE0' %>
        <%= f.submit "Log in", class: 'btn btn-primary' %>
        <input class="form-control" type="email" name="MERGE0" placeholder="Your email..." required="">
        <button type="submit" class="subscribe-btn btn">SUBSCRIBE</button>
      <% end %>

      <p>Ainda não possui uma conta? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>

