<p id="notice"><%= notice %></p>

<h1>Listing Baths</h1>

<table>
  <thead>
    <tr>
      <th>Amount spent</th>
      <th>Date</th>
      <th>Ideal amount</th>
      <th>Time spent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baths.each do |bath| %>
      <tr>
        <td><%= bath.amount_spent %></td>
        <td><%= bath.date %></td>
        <td><%= bath.ideal_amount %></td>
        <td><%= bath.time_spent %></td>
        <td><%= link_to 'Show', user_baths_path(@user.id) %></td>
        <td><%= link_to 'Edit', edit_user_bath_path(@user.id, bath) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%binding.pry%>
<%= link_to 'New Bath', new_user_bath_path(@user.id) %>
