<p id="notice"><%= notice %></p>

<p>
  <strong>Amount spent:</strong>
  <%= @bath.amount_spent %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bath.date %>
</p>

<p>
  <strong>Ideal amount:</strong>
  <%= @bath.ideal_amount %>
</p>

<p>
  <strong>Time spent:</strong>
  <%= @bath.time_spent %>
</p>

<%= link_to 'Edit', edit_user_bath_path(@bath) %> |
<%= link_to 'Back', user_baths_path %>
