<% provide(:title, @user.first_name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.first_name.capitalize %>
</h1>
<h2>
  <%= @user.last_name.capitalize %>, <%= @user.first_name.capitalize %>
</h2>
<h2>
  <strong>Email:</strong>
  <%= @user.email %>
</h2>

<h2>
  <strong>Data de nascimento:</strong>
  <%= @user.birthdate %>
</h2>

<h2>
  <strong>Sexo:</strong>
  <%= @user.gender %>
</h2>
<div class="">
  <%= link_to 'Edit', edit_user_path(@user), {class: "btn-default", style: "text-decoration: none; color: #fff;"} %>
  <%= link_to 'Back', users_path, {class: "btn-default", style: "text-decoration: none;"}%>
</div>
