<!DOCTYPE html>
<html>
<body>
  <%= render 'layouts/header' %>
  <div class="fullscreen landing img-responsive" style="background-image: url(/water.jpg); height: 100%; width: 100%;">
    <div class="overlay">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
